# Test notebook

In [1]:
import pfriskmgmt

In [2]:
pfriskmgmt.__name__

'pfriskmgmt'

In [3]:
pfriskmgmt.__version__

'0.1.1'

In [4]:
pfriskmgmt.__path__

['/opt/conda/lib/python3.7/site-packages/pfriskmgmt']

In [5]:
from pfriskmgmt import pfriskmgmt as rm

In [8]:
rm.get_ffme_returns().head()

         SmallCap  LargeCap
1926-07   -0.0145    0.0329
1926-08    0.0512    0.0370
1926-09    0.0093    0.0067
1926-10   -0.0484   -0.0243
1926-11   -0.0078    0.0270

In [9]:
rm.get_fff_returns().head()

         Mkt-RF     SMB     HML      RF
1926-07  0.0296 -0.0230 -0.0287  0.0022
1926-08  0.0264 -0.0140  0.0419  0.0025
1926-09  0.0036 -0.0132  0.0001  0.0023
1926-10 -0.0324  0.0004  0.0051  0.0032
1926-11  0.0253 -0.0020 -0.0035  0.0031

In [11]:
'Test passed!'

'Test passed!'